Package: com.samgisaninja.thaliana
Name: thaliana
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.0
Architecture: iphoneos-arm
Description: Control Center module for Firebird emulator
Maintainer: Sam Gardner
Author: Sam Gardner
Section: Control Center (Modules)
