Package: com.samgisaninja.thaliana
Name: thaliana
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Control Center module for Firebird emulator
Maintainer: Sam Gardner
Author: Sam Gardner
Section: Control Center (Modules)
Version: 0.0.1-3+debug
Installed-Size: 56
