Package: com.samgisaninja.thaliana
Name: thaliana
Depends: mobilesubstrate, com.oppa334.ccsupport
Architecture: iphoneos-arm
Description: Control Center module for Firebird emulator
Maintainer: Sam Gardner
Author: Sam Gardner
Section: Control Center (Modules)
Version: 1.0-1+debug
Installed-Size: 72
